* {
    color: #FFFFFFDE;
}
section {
    margin: 100px auto;
}
.main_title {
    text-align: center;
    font-size: 4rem;
}
.second_title {
    text-align: center;
}
.explanation {
    text-align: center;
}
div.container-ctr {
    margin: 10px auto;
    display: flex;
    justify-content: center; /* Center horizontally */
}
button {
    background-color: #209cee;
    color: #fff;
    font-size: larger;
    top: 93%;
    width: 226px;
    border: none;
    display: block;
    padding: 6px 8px;
    margin: 4px;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
button:hover {
    background-color: #1d92df;
}